.memes {
  margin-top: 60px;
  width: 100%;
}

.memes-row {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  margin-top: 20px;
}

.memes-row-individual {
  width: 70%;
  margin-bottom: 30px;
}

.memes-row-individual img {
  cursor: pointer;
  max-height: 100%;
  max-width: 100%;
}
